CMakeCache.txt
CMakeFiles/
CMakeLists.txt
Makefile
cmake_install.cmake
triangulate
generate_random_points
CMakeLists.txt.bak
random_xmonotone_points
locate_points
points.txt
segments.txt
naive.txt
ric.txt
locate_points_naive
locate_points_ric
